body{
    background-color: #fff;
}
.calculator{
    max-width: 320px;
    padding: 10px;
    box-sizing: border-box;

    input{
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        text-align: right;
    }
    .row{
        padding-bottom: 5px;
        overflow: auto;
        margin: 0;
        // border: 1px solid black;
        button{
            //float the buttons to the left of the parent
            float:left;
            width: 25%;
            padding: 10px;
            border-radius: 5px;
        }
    }
}
