<h2>Calculator</h2>
<div class="calculator">
    <div class="row">
        <input ng-model="display">
    </div>
    <div class="row">
        <button ng-click="setNumber(0)">0</button>
        <button ng-click="setNumber(1)">1</button>
        <button ng-click="setNumber(2)">2</button>
        <button ng-click="setNumber(3)">3</button>
    </div>
    <div class="row">
        <button>4</button>
        <button>5</button>
        <button>6</button>
        <button>7</button>
    </div>
    <div class="row">
        <button>8</button>
        <button>9</button>
        <button ng-click="clearDisplay()">cl</button>
        <button ng-click="calculate()">=</button>
    </div>
    <div class="row">
        <button ng-click="setOperator('+')">+</button>
        <button ng-click="setOperator('*')">*</button>
        <button ng-click="setOperator('-')">-</button>
        <button ng-click="setOperator('/')">/</button>
    </div>
</div>
